#founders {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 680px;
  background: var(--primary-color);
  gap: 60px;
}

#founders > img {
  width: 560px;
}

.founders-text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 10px;
}

.founders-text > h1 {
  font-size: 3rem;
  color: var(--secondary-color-2);
}

.founders-text-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 532px;
}

.founders-text-list li {
  color: var(--text-color);
  font-size: 1.1rem;
  width: 450px;
  text-align: left;
  line-height: 1.8;
}