#news-letter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 130px;
  background-color: var(--secondary-color-2);
}

#news-letter > h1 {
  font-size: 2.5rem;
  padding-left: 50px;
  white-space: nowrap;
}

.news-email {
  display: flex;
  justify-content: right;
  gap: 50px;
  margin-right: 25px;
}

.news-email input {
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  color: var(--text-color);
  margin-left: 10px;
}

.news-email button {
  background-color: var(--secondary-color-1);
  color: var(--primary-color);
  font-size: 1.rem;
}

.news-email button::before {
  background: var(--secondary-color-1-dark);
}

.status-msg {
  font-size: 0.9rem;
  color: var(--primary-color);
  margin-top: 8px;
  flex-basis: 100%;
  text-align: right;
}