#events {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 800px;
  background-color: var(--primary-color-2);
  gap: 50px;
  padding: 40px 0 0 0;
}

.events-info {
  display: flex;
  justify-content: space-between;
  padding: 60px 64px 55px 64px;
  align-items: center;
}

.events-container {
  width: 100vw;
  margin: 0 auto;
  padding: 0 45px;
  box-sizing: border-box;
}

.events-info > h1 {
  font-weight: normal;
  color: var(--secondary-color-2);
  font-size: 2.5rem;
}

.archive-button {
  border: 2px solid var(--secondary-color-1);
  background-color: transparent;
  color: var(--secondary-color-1);
  font-weight: bold;
}

.archive-button::before {
  background-color: var(--secondary-color-1);
}

.archive-button:hover {
  color: var(--primary-color);
}

.event-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: clamp(500px, 90%, 1200px);
  gap: 65px;
  margin: 0 auto;
  transition: transform 0.2 ease-in-out;
  padding-bottom: 150px;
}

.event-image {
  width: 100%;
  height: 38%;
  background-color: gray;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: bloxk;
}

.event-image,
.event-image img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.event-name {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 12%;
  background-color: var(--secondary-color-2);
  font-weight: bold;
  font-size: 1.2rem;
}

.event-name > p {
  padding-left: 20px;
}

.event-box {
  transition: transform 0.2s ease-in-out;
}

.event-box:hover {
  transform: scale(1.04);
}

.event-box > p {
  height: 43%;
  font-size: 1rem;
  background-color: white;
}

.event-box > p {
  color: var(--text-color);
  padding: 22px;
  text-align: left;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media (max-width: 600px) {
  #events {
    min-height: 1800px;
  }

  .events-info {
    justify-content: center;
  }

  .archive-button {
    display: none;
  }

  .events-info > h1 {
    white-space: nowrap;
  }

  .event-boxes {
    grid-template-columns: 1fr;
    width: 330px;
  }
}

@media (max-width: 376px) {
  #events {
    min-height: 1780px;
  }

  .event-boxes {
    width: 300px;
  }

  .events-info > h1 {
    font-size: 2rem;
  }

  .event-box > p {
    padding-bottom: 35px;
  }
}

@media (max-width: 326px) {
  #events {
    min-height: 1880px;
  }

  .event-boxes {
    width: 260px;
  }
  
  .event-box > p {
    font-size: 1rem;
    padding-bottom: 50px;
  }
}