#landing {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}

.landing-image {
  background-image: url(../../../assets/img/photos/landing.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.landing-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-1);
  text-align: left;
  padding: 0 20px;
  gap: 30px;
}

.line {
  height: 1px;
  background-color: var(--primary-color);
}

.landing-info > h1 { 
  font-size: 2.2rem;
  font-weight: normal;
  padding-top: 80px;
  line-height: 1.4;
  margin-bottom: 0px;
}

.landing-button {
  height: auto;
}

.landing-info button {
  background-color: var(--secondary-color-2);
}

.landing-info button:hover {
  background-color: var(--secondary-color-2-dark);
}

.line,
.landing-info > h1,
.landing-info > p,
.landing-button {
  width: 80%;
}