#past-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: fit-content;
  box-sizing: border-box;
  background-color: var(--primary-color);
  padding: 100px;
  position: relative;
}

.past-event-header {
  width: 420px;
  padding: 5px 0;
  background-color: var(--secondary-color-2);
  font-size: 3rem;
  border-radius: 4px;
  color: var(--primary-color);
}

.past-event-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 30px;
  width: 550px;
}

.past-event-info > h1 {
  color: var(--secondary-color-2);
  font-size: 2.4rem;
}

.past-event-info > p {
  color: var(--text-color);
  text-align: left;
  font-size: 1.3rem;
}

.past-event-img {
  width: clamp(400px, 43%, 500px);
  border-radius: 40px;
  position: relative;
  z-index: 10;
}

.event-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  padding-top: 8rem;
  position: relative;
}

.event-row.reverse {
  flex-direction: row-reverse;
}

.event-bubble {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 1;
}


.left-bubble {
  background-image: url(../../../assets/bg/event-bubble-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  top: 200px;
  left: -60px;
  z-index: 1;
}

.right-bubble {
  background-image: url(../../../assets/bg/event-bubble-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 40px;
  right: -60px;
}

.past-events-line {
  width: 2px;
  top: 50px;
  min-height: 520px;
  border-left: 3px dashed var(--accent-color-2);
  position: absolute;
  left: 49.9%;
  transform: rotateX(-50%);
  transform-origin: top;
}

.event-point {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 41px;
  height: 41px;
}