#outreach {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
  width: 100vw;
  min-height: 600px;
  background-color: var(--primary-color-2);
}

.outreach-join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
  width: 510px;
  height: 390px;
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: 4px;
}

.outreach-join > h1 {
  font-weight: 350;
  font-size: 2.3rem;
}

.outreach-join > p {
  font-size: 1.1rem;
  width: 410px;
  text-align: left;
}

.outreach-join > div > button {
  background-color: #8B5D88;
}

.outreach-join > div {
  display: flex;
  justify-content: space-evenly;
  gap: 55px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  background-image: url(../../../assets/bg/testimonial.png);
  background-size: 100% 100%;
  width: 540px;
  height: 411px;
  color: var(--text-color);
}

.testimonial-text {
  width: 360px;
  font-size: 1.15rem;
  text-align: left;
  margin-left: 2px;
}

.testimonial-person {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: 125px;
}

.testimonial-person > img {
  width: 80px;
  height: 80px;
  border: 7px solid var(--primary-color);
  border-radius: 50%;
}

.testimonial-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.testimonial-name {
  font-size: 1.2rem;
}

.title {
  font-size: 0.9rem;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  padding-right: 100px;
  margin-bottom: -40px;
}

.quote-icon,
.quote-icon-reverse {
  width: 54px;
}

.quote-icon {
  margin-bottom: 170px;
  margin-right: 10px;
}

.quote-icon-reverse {
  transform: scaleX(-1);
  margin-top: 130px;
  margin-right: 5px;
}