header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 95px;
  background-color: var(--primary-color);
  margin: 0;
  position: fixed;
  left: 0;
  z-index: 999;
}

.cordsa-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 20px;
}

.cordsa-logo > img {
  width: auto;
  height: 75px;
}

.cordsa-logo h1 {
  color: var(--accent-color);
  font-family: 'Nova Round', Arial, Helvetica, sans-serif;
}

.meaning-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  font-family: 'Nova Round', Arial, Helvetica, sans-serif;
}

.meaning-text > p {
  margin: 0;
  padding: 0;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  color: var(--secondary-color-2);
  font-weight: 600;
  gap: 45px;
  margin-right: 40px;
}