header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 95px;
  background-color: var(--primary-color);
  margin: 0;
  position: fixed;
  left: 0;
  z-index: 999;
}

.cordsa-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 20px;
}

.cordsa-logo > img {
  width: auto;
  height: 75px;
}

.cordsa-logo h1 {
  color: var(--accent-color);
  font-family: 'Nova Round', Arial, Helvetica, sans-serif;
}

.meaning-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  font-family: 'Nova Round', Arial, Helvetica, sans-serif;
}

.meaning-text > p {
  margin: 0;
  padding: 0;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 45px;
  margin-right: 40px;
}

.link {
  position: relative;
  color: var(--secondary-color-2);
  font-weight: 600;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background: var(--secondary-color-2);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1);
}

.link.active::after {
  transform: scaleX(1);
}

@media (max-width: 1024px) {
  .meaning-text {
    display: none;
  }
  .cordsa-logo > h1 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .meaning-text {
    display: none;
  }

  .cordsa-logo > h1 {
    font-size: 2.5rem;
  }

  .header-links {
    gap: 2.1rem;
  }
}

@media (max-width: 600px) {

  #header {
    flex-direction: column;
    justify-content: center;
    height: 150px;
  }
  .meaning-text,
  .cordsa-logo > h1 {
    display: none;
  }

  .header-links {
    gap: 1.1rem;
    flex-wrap: wrap;
  }

  .header-links > li {
    font-size: 1rem;
  }
}

@media (max-width: 376px) {
  #header {
    height: 180px;
  }
}