:root {
  --primary-color: white;
  --primary-color-2: #EEEEEE;
  --secondary-color-1: #8B5D88;
  --secondary-color-2: #5A82A8;
  --secondary-color-2-dark: #5c7eae;
  --accent-color: #80C2C9;
  --accent-color-2: #EAC1E2;
  --accent-color-3: #8B437D;
  --accent-color-4: #E4EFF9;
  --footer-color: #4D3763;
  --text-color: #343434;
}